


/*@media (max-width: 767px) {*/

@media only screen 
and (max-device-width : 780px) 
and (orientation : portrait) { 

    html {
        /*position: fixed;*/
        overflow: hidden;
        height: 100%;
        width: 100%;
    }

    #timeDiv {
        width: 70%;
        margin-left:auto;
        margin-right: auto;
        font-size: 8em;
        margin-top: 80px;
    }
   
    #quoteDiv {
        display: none;
        font-size: 0em;
    }


    #badminton-icon {
        position: absolute;
        z-index: 999 !important;
        bottom: 5%;
        left: -100px;
        width: 500px;
        height: 180px;
        background-color: rgba(18, 18, 18, 0.88);
        border-radius: 25px;
    }

    #temperature {
        font-size: 1.2em;
        color: white;
        position: absolute;
        z-index: 999 !important;
        right: -20px;
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 25px;
        width: 320px;
        padding: 20px;
    }

}

/* targets landscape of iphone 6+ */
@media only screen 
and (max-device-width : 1236px)
and (max-device-height : 768px) 
and (orientation : landscape)  { 

    html {  
        overflow: hidden;
        height: 100%;
        width: 100%;

    }

    #timeDiv {
        font-size: 10em;
        width: 50%;
        margin-left:    auto;
        margin-right:   auto;
        padding: 0;
    }

    #badminton-icon {
        position: absolute;
        z-index: 999 !important;
        bottom: 5%;
        left: -100px;
        width: 500px;
        height: 180px;
        background-color: rgba(18, 18, 18, 0.88);
        border-radius: 25px;
    }


    #quoteDiv {
        display: none;
        font-size: 0em;
    }

    #temperature {
        display: none;
    }

}
